<mat-card>
  <mat-card-header>
    <mat-card-title automation-id="title">
      {{ product.title }}
    </mat-card-title>
    <mat-card-subtitle automation-id="type">
      {{ product.type | titlecase }}
    </mat-card-subtitle>
    <mat-card-subtitle automation-id="price">
      {{ product.price | currency }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p automation-id="desctiption">
      {{ product.desctiption }}
    </p>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-icon-button color="primary" (click)="onRemove(product)">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="onEdit(product)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="onAdd(product)">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
