<mat-card>
  <mat-card-header>
    <mat-card-title>{{ product.title }}</mat-card-title>
    <mat-card-subtitle>{{ product.price }}$</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ product.desctiption }}
    </p>
    <button mat-icon-button color="primary" (click)="onRemove(product)">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="onEdit(product)">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
