@import "../../../core/ui/styles/breakpoints";

.products-list {
  // mobile first
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: map-get($grid-breakpoints, "md")) {
    flex-direction: row;
  }

  &--card {
    min-height: 100%;
  }
}
