<mat-nav-list>
  <mat-list-item
    [routerLink]="['/products-page']"
    routerLinkActive="router-link-active"
  >
    <a matListItemTitle>CRUD Basic</a>
    <span>Pessimistic strategy</span>
  </mat-list-item>
  <mat-list-item disabled>
    <a matListItemTitle>CRUD Basic</a>
    <span>Optimistic strategy</span>
  </mat-list-item>
  <mat-list-item
    [routerLink]="['/auth-page']"
    routerLinkActive="router-link-active"
  >
    <a matListItemTitle>NGRX Auth</a>
    <span>Basic state auth</span>
  </mat-list-item>
</mat-nav-list>
