<h1 mat-dialog-title>Edit product</h1>
<div mat-dialog-content>
  <p>
    {{ dialogMode | titlecase }} <b>{{ data.product.title }} </b>in store
  </p>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <ng-container *ngFor="let fieldItem of productFields">
      <mat-label>{{ fieldItem | titlecase }}</mat-label>
      <mat-form-field class="w-100" appearance="outline">
        <input
          matInput
          [placeholder]="'Add ' + fieldItem"
          [formControlName]="fieldItem"
        />
      </mat-form-field>
    </ng-container>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Close</button>
      <button
        mat-raised-button
        type="submit"
        [disabled]="form.untouched || form.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
